<div class="main-banner">
    <img src="~/user/images/hotel-uploads/background.png" alt="Blossom Hotels Banner" class="img-fluid">
    <div class="banner-text">
        Lüks ve Rahatlık: Blossom<br>
        ile<br>
        Unutulmaz Bir Kaçış
    </div>
</div>