@model BlossomHotel.WebUI.Models.User.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/Components/_AccountLayout/Default.cshtml";
    ViewData["Title"] = "Şifre Değiştir";
    var successMessage = TempData["Success"] as string;
}
@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @successMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
<div class="update-form">
    <form asp-action="ChangePassword" method="post">
        <div class="mb-3">
            <label for="OldPassword" class="form-label">Eski Şifreniz:</label>
            <input type="password" class="form-control" id="OldPassword" asp-for="OldPassword">
        </div>
        <div class="mb-3">
            <label for="NewPassword" class="form-label">Yeni Şifreniz:</label>
            <input type="password" class="form-control" id="NewPassword" asp-for="NewPassword">
        </div>
        <div class="mb-3">
            <label for="ConfirmPassword" class="form-label">Yeni Şifreniz Tekrar:</label>
            <input type="password" class="form-control" id="ConfirmPassword" asp-for="ConfirmPassword">
        </div>
        <button type="submit" class="btn w-100">Güncelle</button>
    </form>
</div>