<footer class="bg-dark text-white py-3 mt-auto">
    © 2025 Blossom Hotels. Tüm hakları saklıdır.
    <br>
    <a href="#" class="text-white">Gizlilik Politikası</a> |
    <a href="#" class="text-white">Kullanım Şartları</a> |
    <a href="#" class="text-white">İletişim</a>
</footer>