<div class="sidebar">
    <div class="text-center mb-4">
        <img src="~/adminweb/images/logo/logo_otel_white.png" alt="Blossom Booking" style="height: 120px;">
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/AdminRoom/Index">
                <i class="fas fa-bed"></i> Odalar
            </a>
        </li>
    </ul>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/AdminBooking/Index">
                <i class="fas fa-bed"></i> Rezervasyonlar
            </a>
        </li>
    </ul>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/AdminHotel/Index">
                <i class="fas fa-bed"></i> Oteller
            </a>
        </li>
    </ul>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/AdminStaff/Index">
                <i class="fas fa-bed"></i> Çalışanlar
            </a>
        </li>
    </ul>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/AdminStaff/Index">
                <i class="fas fa-bed"></i> Dashboard
            </a>
        </li>
    </ul>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/AdminLogin/Logout">
                <i class="fas fa-bed"></i> Çıkış Yap
            </a>
        </li>
    </ul>
</div>