<div class="sidebar">
    <div class="text-center mb-4">
        <img src="~/adminweb/images/logo/logo_otel_white.png" alt="Blossom Booking" style="height: 120px;">
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/AdminRoom/Index">
                <i class="fas fa-bed"></i> Rooms
            </a>
        </li>
    </ul>
</div>