@model UpdateRoomViewModel
@{
    ViewData["Title"] = "UpdateRoom";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Otel Seç</label>
    <select asp-for="UpdateRoomDto!.HotelId" class="form-control">
        <option value="">Seçiniz</option>
        @if (Model?.Hotels != null && Model.Hotels.Any())
        {
            foreach (var hotel in Model.Hotels)
            {
                <option value="@hotel.HotelId">@hotel.HotelName</option>
            }
        }
        else
        {
            <option disabled>Otel listesi boş.</option>
        }
    </select>
    <br />

    <input type="hidden" asp-for="UpdateRoomDto!.RoomId" />
    <label>Oda Numarası</label>
    <input type="text" asp-for="UpdateRoomDto!.RoomNumber" class="form-control" />
    <br />
    <label>Oda Başlığı</label>
    <input type="text" asp-for="UpdateRoomDto!.RoomTitle" class="form-control" />
    <br />
    <label>Fiyat</label>
    <input type="text" asp-for="UpdateRoomDto!.Price" class="form-control" />
    <br />
    <label>
        Yatak Odası Sayısı
    </label>
    <input type="text" asp-for="UpdateRoomDto!.BedCount" class="form-control" />
    <br />
    <label>Banyo Sayısı</label>
    <input type="text" asp-for="UpdateRoomDto!.BathCount" class="form-control" />
    <br />
    <label>Oda Kapak Fotoğrafı</label>
    <input type="text" asp-for="UpdateRoomDto!.RoomCoverImage" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="UpdateRoomDto!.Description" class="form-control" />
    <br />
    <button class="btn btn-primary">Odayı Güncelle</button>
</form>

