@model List<ResultServiceDto>

<section id="hizmetler" class="py-5" style="background-color:#60636c">
    <div class="container text-center">
        <h2 class="mb-5">Hizmetlerimiz</h2>
        <div class="row g-4">
            @foreach (var item in Model)
            {
            <div class="col-md-4">
                <div class="card h-100 border-0 shadow service-card" style="background-color:#f2e6ec; color: #555;">
                    <div class="card-body">
                        <i class="@item.ServiceIcon"></i>
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Description</p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>

