@model ForgotPasswordViewModel

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var modelState in ViewData.ModelState.Values)
        {
            foreach (var error in modelState.Errors)
            {
                <p>@error.ErrorMessage</p>
            }
        }
    </div>
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div style="min-width: 300px; max-width: 400px; width: 100%;">
        <form asp-action="ForgotPassword" method="post" novalidate>
            <div class="form-group mb-3">
                <h3>Şifremi Unuttum</h3>
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100" onclick="this.disabled=true; this.form.submit();">
                Şifre Sıfırlama Linki Gönder
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    document.querySelector('form').addEventListener('submit', function (e) {
        if (this.dataset.submitted === "true") {
            e.preventDefault(); 
        } else {
            this.dataset.submitted = "true"; 
        }
    });
</script>
