@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Şifre Sıfırlama";
}

    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4" style="min-width: 300px; max-width: 400px; width: 100%;">
            <h3 class="text-center mb-4">Şifre Sıfırla</h3>
        <form asp-action="ResetPassword" method="post">
                <div class="mb-3">
                    <label for="NewPassword" class="form-label">Yeni Şifre</label>
                    <input type="password" class="form-control" id="NewPassword" name="NewPassword" required />
                </div>
                <div class="mb-3">
                    <label for="ConfirmPassword" class="form-label">Şifre Tekrar</label>
                    <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required />
                </div>
                <input type="hidden" name="Token" value="@Model.Token" />
                <input type="hidden" name="Email" value="@Model.Email" />
                <button type="submit" class="btn btn-primary w-100">Şifreyi Sıfırla</button>
            </form>
        </div>
    </div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
